@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body
{
   font-family: 'Audiowide', cursive;
   margin: 0px;
   padding: 0px;
   background-size: cover;
   background-position: center;
   background-color: #337CCF;

}

#titulo 
{
   display: flex; 
   color: white;
    background-color: #461959;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#subEligeMascota
{
   display:flex;
   justify-content: center;
   align-items: center;
}


#seleccionarMascota
{
   display:flex;
   flex-direction:row; 
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.tarjetas, .tarjetasAtaques
{
   display: flex;
   
}

.tarjetaMokepon
{
   color: white;
   width: 120px;
   height: 190px;
   background-color: #191D88;
   padding: 10px;
   box-sizing: border-box;
   justify-items: center;
   margin: 10px;
   border: 2px solid #7A316F; 
   border-radius: 10px;

}

.tarjetaMokepon img
{
   width: 135px;
}

#botonContinuar
{
   display:flex;
   justify-content: center;
   align-items: center;
}

#botonMascota
{
   background-color: #461959;  
   border-radius: 10px; 
   width: 180px;
   height: 50px;
   color:white;
   border: 2px solid white;
   font-family: 'Audiowide', cursive;
   font-size: 20px;
   margin-top: 30px;
}

input
{
   display: none;
}

input:checked + label
{
background-color: #5D8BF4;
}

#seleccionarAtaque
{
   flex-direction: column;
   align-items: center;
}

.botonAtaque
{
   background-color: #461959;  
   border-radius: 20px; 
   padding: 10px;
   box-sizing: border-box;
   width: 80px;
   height: 50px;
   color:white;
   border: 2px solid white;
   font-family: 'Audiowide', cursive;
   font-size: 20px;
   margin-top: 30px;
}

#mensajes
{
   width: 280px;
   background-color: #EEEEEE;
   padding: 20px;
   margin-top: 20px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

#botonReiniciar
{
   border: none;
   color: blue;
   font-family: 'Audiowide', cursive;
}

.barraAtaques
{
   display: grid;
   grid-template-columns: 160px 160px;
   justify-items: center;
   background-color: #461959;
   color:aliceblue;
   border-radius: 20px;
   margin-top: 15px;
   border: 2px solid white;
}

#verMapa{
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#mapa{
   border: 3px solid white
}

#verMapa button{
   background-color: #461959;  
   border-radius: 10px; 
   width: 130px;
   height: 40px;
   color:white;
   border: 2px solid white;
   font-family: 'Audiowide', cursive;
   font-size: 15px;
   margin-top: 5px;
}

@media (max-width: 400px)
{
   .tarjetasAtaques, .tarjetas
   {
      display: flex;
      flex-direction: column;
   }
}

@media (max-width: 400px)
{
   #verMapa div
   {
      display: flex;
      align-items: center;
      flex-direction: column;
   }
}